@-webkit-keyframes reverse {
  from {
    z-index: 5;
    width: 100vw;
  }
  to {
    width: 40%;
    z-index: 2;
  }
}

@keyframes reverse {
  from {
    z-index: 5;
    width: 100vw;
  }
  to {
    width: 40%;
    z-index: 2;
  }
}

@-webkit-keyframes step1 {
  from {
    width: 40%;
    z-index: 2;
  }
  to {
    z-index: 5;
    width: 100vw;
  }
}

@keyframes step1 {
  from {
    width: 40%;
    z-index: 2;
  }
  to {
    z-index: 5;
    width: 100vw;
  }
}

@-webkit-keyframes step2 {
  from {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
  }
}

@keyframes step2 {
  from {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
  }
}

@-webkit-keyframes step3 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    position: absolute;
    top: 14.64844vh;
    left: 55%;
  }
  100% {
    opacity: 1;
    position: absolute;
    top: 14.64844vh;
    left: 55%;
  }
}

@keyframes step3 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    position: absolute;
    top: 14.64844vh;
    left: 55%;
  }
  100% {
    opacity: 1;
    position: absolute;
    top: 14.64844vh;
    left: 55%;
  }
}

@-webkit-keyframes step4 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes step4 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

body {
  font-family: 'Poppins',sans-serif;
  overflow-x: hidden;
  font-size: 0.875rem;
  font-weight: regular;
  color: #707070;
}

body .inner {
  width: 1280px;
  margin: 0 auto;
}

#wrap header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 40px;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
  z-index: 20;
}

#wrap header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  font-weight: bold;
}

#wrap header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap header nav ul li:first-child {
  margin-right: 2.77778em;
}

#wrap header nav h1 {
  width: 104px;
  height: 60px;
  font-size: 0;
  background-image: url("../images/logo.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#wrap main #visual .shoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap main #visual .shoes > li {
  position: relative;
  width: 25%;
  height: 100vh;
  -webkit-box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.5);
          box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

#wrap main #visual .shoes > li .fixed .shoes_pic {
  position: absolute;
  top: 300px;
  left: 60px;
  width: 598px;
  height: 290px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  pointer-events: none;
}

#wrap main #visual .shoes > li .fixed .shoes_pic img {
  width: 100%;
  height: 100%;
}

#wrap main #visual .shoes > li .text {
  width: 110%;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 650px;
  left: 60px;
  font-size: 3.125rem;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  pointer-events: none;
}

#wrap main #visual .shoes > li .btn {
  visibility: hidden;
  text-align: center;
  line-height: 6.05469vh;
  width: 16.875vw;
  height: 6.05469vh;
  font-size: 1.875rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 78.125vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#wrap main #visual .shoes > li.hover {
  width: 40%;
  z-index: 1;
}

#wrap main #visual .shoes > li.hover .shoes_pic {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

#wrap main #visual .shoes > li.hover .text {
  opacity: 1;
}

#wrap main #visual .shoes > li:nth-child(1) {
  background: #E4E5E8;
}

#wrap main #visual .shoes > li:nth-child(1) .text {
  color: #AEAEAE;
}

#wrap main #visual .shoes > li:nth-child(1) .btn {
  background: #AEAEAE;
}

#wrap main #visual .shoes > li:nth-child(2) {
  background: #BE4341;
}

#wrap main #visual .shoes > li:nth-child(2) .text {
  color: #823130;
}

#wrap main #visual .shoes > li:nth-child(2) .btn {
  background: #823130;
}

#wrap main #visual .shoes > li:nth-child(3) {
  background: #425194;
}

#wrap main #visual .shoes > li:nth-child(3) .text {
  color: #28315A;
}

#wrap main #visual .shoes > li:nth-child(3) .btn {
  background: #28315A;
}

#wrap main #visual .shoes > li:nth-child(4) {
  background: #A97657;
}

#wrap main #visual .shoes > li:nth-child(4) .text {
  color: #644532;
}

#wrap main #visual .shoes > li:nth-child(4) .btn {
  background: #644532;
}

#wrap main #visual .shoes > li.on {
  -webkit-animation: step1 1s 0.5s  ease-in forwards;
          animation: step1 1s 0.5s  ease-in forwards;
}

#wrap main #visual .shoes > li.on .shoes_pic {
  -webkit-animation: step2 0.5s 1.5s ease-in forwards;
          animation: step2 0.5s 1.5s ease-in forwards;
}

#wrap main #visual .shoes > li.on .text {
  -webkit-animation: step3 1s 2s ease-in forwards;
          animation: step3 1s 2s ease-in forwards;
}

#wrap main #visual .shoes > li.on .btn {
  visibility: visible;
  -webkit-animation: step4 2s 3s ease-in infinite;
          animation: step4 2s 3s ease-in infinite;
}

#wrap main #subject {
  height: 200vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#wrap main #subject.num0 .change_bg {
  background: #E4E5E8;
  color: #707070;
}

#wrap main #subject.num0 h3 {
  color: #aeaeae;
}

#wrap main #subject.num1 .change_bg {
  background: #BE4341;
  color: #ececec;
}

#wrap main #subject.num1 h3 {
  color: #823130;
}

#wrap main #subject.num2 .change_bg {
  background: #425194;
  color: #ececec;
}

#wrap main #subject.num2 h3 {
  color: #28315A;
}

#wrap main #subject.num4 .change_bg {
  background: #A97657;
  color: #ececec;
}

#wrap main #subject.num4 h3 {
  color: #644532;
}

#wrap main #subject .shopping {
  width: 27.3%;
  height: 25%;
  margin-top: 25%;
  margin-left: 56%;
  padding-top: 4.28571em;
}

#wrap main #subject .shopping h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

#wrap main #subject .shopping .cart_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.875rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 6.05469vh;
}

#wrap main #subject .shopping .cart_box .select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30.5%;
  height: 6.05469vh;
  border: 1px solid #707070;
  font-size: 1.25rem;
  font-weight: bold;
  color: #707070;
}

#wrap main #subject .shopping .cart_box .select label {
  margin-right: 10px;
}

#wrap main #subject .shopping .cart_box .select select {
  width: 83px;
  line-height: 6.05469vh;
  font-size: 1.875rem;
  font-weight: bold;
  color: #707070;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/icons/select_arrow.png) no-repeat 95% 50%;
}

#wrap main #subject .shopping .cart_box .select select select::-ms-expand {
  display: none;
}

#wrap main #subject .shopping .cart_box .cart {
  width: 62.8%;
  height: 6.05469vh;
  border: 1px solid #707070;
}

#wrap main #subject .shopping .cart_box .pick {
  margin-top: 60px;
  width: 100%;
  height: 6.05469vh;
  border: 1px solid #707070;
}

#wrap main #subject .about {
  width: 27.3%;
  height: 50%;
  margin-left: 56%;
  padding: 16.21094vh 0;
}

#wrap main #subject .about .about_wrap {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  row-gap: 3.90625vh;
  font-family: 'noto sans cjk kr';
}

#wrap main #subject .about .about_wrap h3 {
  font-size: 1.875rem;
  font-weight: bold;
  font-family: 'poppins';
}

#wrap main #subject .about .about_wrap h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.875em;
}

#wrap main #subject .about .about_wrap p {
  font-size: 0.875rem;
  font-weight: regular;
  line-height: 1.42857em;
}

#wrap main #subject .about .about_wrap li {
  list-style: inside;
  margin-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */