$whitebg: #E4E5E8;
$whitefont: #AEAEAE;
$redbg: #BE4341;
$redfont: #823130;
$bluebg: #425194;
$bluefont: #28315A;
$brownbg: #A97657;
$brownfont: #644532;

@mixin font($s: 0.875rem, $w:normal, $c:null, $f:null){
    font-size: $s;
    font-weight: $w;
    font-family: $f;
    color : $c;
}
@mixin size($w:100%, $h:100%){
  width: $w;
  height: $h;
}
@mixin position($t:null ,$l:null, $p:absolute, $r:null ,$b:null){
  position: $p;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
}
@mixin background($u:null, $d:center, $s:cover){
  background-image: url("../images/#{$u}");
  background-position: $d center;
  background-size: $s;
  background-repeat: no-repeat;
}
@mixin flex ($j:space-between, $a:center, $d:null){
  display: flex;
  justify-content: $j;
  align-items : $a;
  flex-direction: $d;
}
@function rem($s){
    @return $s/16 +rem;
}
@function em($s, $b){
    @return $s/$b +em;
}
@function vw($s){
    @return $s/19.2 +vw;
}
@function vh($s){
    @return $s/10.24 +vh;
}
@keyframes glowEffect{
    0%{
        text-shadow: 0 1px 6px rgba(0,0,0,0.2);
    }
    50%{
        text-shadow: 0 1px 6px rgba(255,255,255,0.5);
    }
    100%{
        text-shadow: 0 1px 6px rgba(0,0,0,0.2);
    }
}
@keyframes openingAnimation{
    from{
        height: 0%;
    }
    to{
        height: 100%;
    }
}
@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes display{
    from{
        visibility: visible;
    }
    to{
        visibility: hidden;
    }
}
body{
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
    @include font(rem(14), normal, #707070);
    .inner{
        width: 1280px;
        margin: 0 auto;
    }
}
#wrap{
    header{
        animation: opacity 1s 3.2s ease-in forwards;
        @include size(100%, 60px);
        @include position(40px, 0, fixed);
        background: rgba(255,255,255, 0.4);
        z-index: 10;
        opacity: 0;
        nav{
            @include flex;
            @include font(rem(18),bold);
            ul{
                @include flex;
                li:first-child{
                    margin-right: em(50,18);
                }
            }
            h1{
                @include size(104px, 60px);
                font-size: 0;
                @include background('logo.png');
            }
        }
    }
    main{
        #opening{
            animation: display 0s 3s forwards;
            ul{
                @include position(0, 0, fixed);
                @include size;
                z-index: 15;
                background: #fff;
                display: flex;
                opacity: 1;
                li{
                    box-shadow: -1px 0px 6px rgba(0,0,0,0.5);
                    @include size(25%, 0%);
                    &:nth-child(1){
                        background: $whitebg;
                        animation: openingAnimation 1s 0s ease-in forwards;
                    }
                    &:nth-child(2){
                        background: $redbg;
                        animation: openingAnimation 1s 0.5s ease-in forwards;
                    }
                    &:nth-child(3){
                        background: $bluebg;
                        animation: openingAnimation 1s 1s ease-in forwards;
                    }
                    &:nth-child(4){
                        background: $brownbg;
                        animation: openingAnimation 1s 1.5s ease-in forwards;
                    }
                }
            }
        }
        #visual{
            .shoes{
                width: 100vw;
                display: flex;
                >li{
                    position: relative;
                    @include size(25%, 100vh);
                    box-shadow: -1px 0px 6px rgba(0,0,0,0.5);
                    transition: 1s ease-in;
                    .main_bg{
                        @include size;
                        transform: scaleX(0);
                        transition: 1s;
                        &.on{
                            position: relative;
                            z-index: 1;
                            transform: scaleX(5)
                        }
                    }
                    .fixed{
                        .shoes_pic{
                            @include position(vw(300), vh(60));
                            @include size(vw(598), vw(290));
                            transform: rotate(45deg);
                            transition: 1s ease-in;
                            pointer-events: none;
                            img{
                                animation: opacity 1s 4s ease-in forwards;
                                opacity: 0;
                                @include size;
                            }
                        }
                    }
                    .text{
                        width: 110%;
                        text-shadow: 0 1px 6px rgba(0,0,0,0.2);
                        @include font(rem(50),bold);
                        @include position(vw(650), vh(60));
                        opacity: 0;
                        transition: 1s ease-in;
                        pointer-events: none;
                    }
                    .btn{
                        visibility: hidden;
                        text-align: center;
                        line-height: vh(62);
                        @include size(vw(324), vh(62));
                        @include font(rem(30),bold,#fff);
                        @include position(vh(800), 50%);
                        transform: translate(-50%);
                        opacity: 0;
                        cursor: pointer;
                        p{
                            pointer-events: none;
                        }
                    }
                    &.hover{
                        width: 40%;
                        .shoes_pic{
                            transform: rotate(20deg);
                        }
                        .text{
                            opacity: 1;
                        }
                    }
                    &:nth-child(1){
                        background: $whitebg;
                        .text{
                            color: $whitefont;
                        }
                        .btn{
                            background: $whitefont;
                        }
                    }
                    &:nth-child(2){
                        background: $redbg;
                        .text{
                            color: $redfont;
                        }
                        .btn{
                            background: $redfont;
                        }
                        
                    }
                    &:nth-child(3){
                        background: $bluebg;
                        .text{
                            color:$bluefont;
                        }
                        .btn{
                            background: $bluefont;
                        }
                    }
                    &:nth-child(4){
                        background: $brownbg;
                        .text{
                            color:$brownfont;
                        }
                        .btn{
                            background: $brownfont;
                        }
                    }
                    &.on{
                        width: 70vw;
                        .shoes_pic{
                            z-index: 2;
                            transform: rotate(20deg);
                        }
                        .text{
                            opacity: 1;
                            z-index: 2;
                            @include position(vh(130), 46%);
                            animation: glowEffect 2s ease-in infinite;
                        }
                        .btn{
                            visibility: visible;
                            transition: 1s 1s ease-in;
                            opacity: 1;
                            animation: glowEffect 2s ease-in infinite;
                        }
                    }
                }
            }
        }
        #video{
            .video_wrap{
                @include position(0, 0, fixed);
                @include size(100vw, 0);
                transition: 1s;
                z-index: 5;
                video{
                    @include size;
                    object-fit: cover;
                }
                &.on{
                    height: 100vh;
                }
            }
        }
        #subject{
            .subject_wrap{
                height: 200vh;
                position: relative;
                display: flex;
                flex-direction: column;
                &.premium{
                    .change_bg{
                        background: $whitebg;
                        color: #707070;
                        h2{
                            color:$whitefont;
                        }
                    }
                    .select{
                        color: #707070;
                        select{
                            color: #707070;
                        }
                    }
                    h3{
                        color: $whitefont;
                    }
                }
                &.olympic{
                    .change_bg{
                        background: $redbg;
                        color: #ececec;
                        h2{
                            color:$redfont;
                        }
                    }
                    .select{
                        color: $redfont;
                        select{
                            color: $redfont;
                        }
                    }
                    h3{
                        color: $redfont;
                    }
                }
                &.persian{
                    .change_bg{
                        background: $bluebg;
                        color: #ececec;
                        h2{
                            color:$bluefont;
                        }
                    }
                    .select{
                        color: $bluefont;
                        select{
                            color: $bluefont;
                        }
                    }
                    h3{
                        color: $bluefont;
                    }
                }
                &.flax{
                    .change_bg{
                        background: $brownbg;
                        color: #ececec;
                        h2{
                            color:$brownfont;
                        } 
                    }
                    .select{
                        color: $brownfont;
                        select{
                            color: $brownfont;
                        }
                    }
                    h3{
                        color: $brownfont;
                    }
                }
                .subject_bg{
                    @include size(100vw, 25%);
                    h2{
                        margin-left: vw(1100);
                        margin-top: 10%;
                        text-shadow: 0 1px 6px rgba(0,0,0,0.2);
                        @include font(rem(80),bold);
                        animation: glowEffect 2s ease-in infinite;
                    }
                }
                .pic{
                    @include position(16vh, 16.7%, absolute);
                    width: vw(598);
                    @include flex;
                    flex-wrap: wrap;
                    .shoes_pic{
                        @include size(vw(598), vw(598));
                        >img{
                            @include size(vw(598), auto);  
                        }
                    }
                    .detail{
                        @include flex(space-between);
                        @include size(100%, vh(120));
                        li{
                            @include size(vh(120), vh(120));
                            border: 1px solid #707070;
                            img{
                                @include size;
                                pointer-events: none;
                            }
                        }
                    }                    
                }
                .shopping{
                    @include size(27.3%, 25%);
                    margin-left: vw(1100);
                    padding-top: em(60,14);
                    h3{
                        @include font(rem(40),bold);
                        margin-bottom: em(60,40);
                    }
                    .cart_box{
                        @include flex(space-between);
                        flex-wrap: wrap;
                        @include font(rem(30), bold, #fff);
                        text-align: center;
                        line-height: vh(62);
                        .select{
                            appearance: none;
                            @include size(30.5%, vh(62));
                            border: 1px solid #707070;
                            @include font(rem(20), bold);
                            label{
                                margin-right: vw(10)
                            }
                            select{
                                width: vw(83);
                                line-height: vh(62);
                                @include font(rem(30), bold);
                                -webkit-appearance: none; 
                                -moz-appearance: none; 
                                appearance: none; 
                                background: url(../images/icons/select_arrow.png) no-repeat 95% 50%;
                                select::-ms-expand { display: none; }
                            }
                        }
                        .cart{
                            @include size(62.8%, vh(62));
                            border: 1px solid #707070;
                        }
                        .pick{
                            margin-top: vh(60);
                            @include size(100%, vh(62));
                            border: 1px solid #707070;
                        }
                    }
                }
                .about{
                    @include size(27.3%, 50%);
                    margin-left: vw(1100);
                    padding: vh(200) 0;
                    .about_wrap{
                        padding: 20px;
                        display: grid;
                        grid-template-rows: repeat(4,auto);
                        row-gap: vh(40);
                        font-family: 'noto sans cjk kr';
                        h3{
                            @include font(rem(30),bold);
                            font-family: 'poppins';
                            animation: glowEffect 2s ease-in infinite;
                        }
                        h4{
                            @include font(rem(16),bold);
                            margin-bottom: em(14,16);
                        }
                        p{
                            @include font(rem(14),normal);
                            line-height: em(20,14);
                        }
                        li{
                            list-style: inside;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}
